<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>LuMarEcommerce.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ItemSolicitadoPeloCliente</servlet-name>
        <servlet-class>Servlet.ItemSolicitadoPeloCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItensMaisVendidos</servlet-name>
        <servlet-class>Servlet.ItensMaisVendidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCartao</servlet-name>
        <servlet-class>Servlet.AtualizarCartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carrinho</servlet-name>
        <servlet-class>Servlet.Carrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarPedido</servlet-name>
        <servlet-class>Servlet.MostrarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirTodosOsPedidos</servlet-name>
        <servlet-class>Servlet.ExibirTodosOsPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoltarHomeAutenticado</servlet-name>
        <servlet-class>Servlet.VoltarHomeAutenticado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SairDoSistema</servlet-name>
        <servlet-class>Servlet.SairDoSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarPedidoNoBanco</servlet-name>
        <servlet-class>Servlet.GravarPedidoNoBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirCartaoAtual</servlet-name>
        <servlet-class>Servlet.ExibirCartaoAtual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPedido</servlet-name>
        <servlet-class>Servlet.ExcluirPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>Servlet.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemSolicitadoPeloCliente</servlet-name>
        <url-pattern>/itemsolicitadopelocliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItensMaisVendidos</servlet-name>
        <url-pattern>/itensmaisvendidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCartao</servlet-name>
        <url-pattern>/atualizarcartao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrinho</servlet-name>
        <url-pattern>/carrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarPedido</servlet-name>
        <url-pattern>/mostrarpedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirTodosOsPedidos</servlet-name>
        <url-pattern>/exibirtodosospedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoltarHomeAutenticado</servlet-name>
        <url-pattern>/voltarhomeautenticado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SairDoSistema</servlet-name>
        <url-pattern>/sairdosistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarPedidoNoBanco</servlet-name>
        <url-pattern>/gravarpedidonobanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirCartaoAtual</servlet-name>
        <url-pattern>/exibircartaoatual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPedido</servlet-name>
        <url-pattern>/excluirpedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/cadastrarusuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
